<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Időpont</th>
            <th></th> <!-- kép-->
            <th></th> <!-- csapat1--> 
            <th>Csapatok</th>
            <th></th> <!-- csapat2--> 
            <th></th> <!-- kép--> 
            <th>Eredmény</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of lastMatchList">
            <td><div>{{getFormattedDate(match.timeStamp)}}</div>
                <div>{{getFormattedTime(match.timeStamp)}}</div>
            </td>
            <td><img src={{match.imgSrcHome}}></td>
            <td>{{match.home}}</td>
            <td>-</td>
            <td>{{match.away}}</td>
            <td><img src={{match.imgSrcAway}}></td>
            <td class="center">{{match.goalsHome}} : {{match.goalsAway}}</td>
        </tr>
    </tbody>
</table>
