<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Időpont</th>
            <th colspan="3">Csapatok</th>
            <th>Eredmény</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of lastMatchList">
            <td><div>{{getFormattedDate(match.timeStamp)}}</div>
                <div>{{getFormattedTime(match.timeStamp)}}</div>
            </td>
            <td><img src={{match.imgSrcHome}}>{{match.home}}</td>
            <td>-</td>
            <td>{{match.away}}<img src={{match.imgSrcAway}}></td>
            <td>{{match.goalsHome}} : {{match.goalsAway}}</td>
        </tr>
    </tbody>
</table>
