<h2 class="center">Jövőbeli fogadások</h2>
<table class="table table-dark table-hover centerContainer myTable">
    <thead>
        <tr>
            <th>Időpont</th>
            <th colspan="5" class="center">Csapatok</th>
            <th colspan="3">Fogadóirodák</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchesWithOdds">
            <td><div>{{getFormattedDate(match.timeStamp)}}</div>
                <div>{{getFormattedTime(match.timeStamp)}}</div>
            </td>
            <td><img src={{match.imgSrcHome}}></td>
            <td>{{match.home}}</td>
            <td>-</td>
            <td>{{match.away}}</td>
            <td><img src={{match.imgSrcAway}}></td>
            <td>{{match.unibet?.bookmakerName}}</td>
            <td>{{match.bet365?.bookmakerName}}</td>
            <td>{{match.bwin?.bookmakerName}}</td>
        </tr>
    </tbody>
</table>
