/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
}
.container{
    @media screen and (max-width:650px){
        padding:0
    }
}

.centerContainer{
    margin: 0 auto;
}

img{
    max-width: 45px;
    max-height: 45px;
}
.myTable{
    td, th{
        vertical-align:middle
    }
    .center{
        text-align: center;
    }
    .fit{
        td,th{
            width: fit-content;
            padding: 4;
        }
    }
}

body{
    background: rgb(10,10,135);
    background: linear-gradient(90deg, rgba(10,10,135,1) 0%, rgb(83, 155, 255) 50%, rgba(10,10,135,1) 100%);

    color: antiquewhite;
}

/* tökjó
background: rgb(10,10,135);
background: linear-gradient(90deg, rgba(10,10,135,1) 0%, rgba(84,178,215,1) 50%, rgba(10,10,135,1) 100%);
*/